<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    id="cordova-plugin-fb"
    version="0.9.0">

    <name>Cordova-plugin-fb</name>
    <description>Cordova-plugin-fb</description>
    <license>MIT</license>
    <keywords>cordova,facebook</keywords>
    <repo>https://github.com/txchen/cordova-plugin-fb</repo>
    <issue>https://github.com/txchen/cordova-plugin-fb/issues</issue>

    <js-module src="www/fb.js" name="fb">
        <clobbers target="fb" />
    </js-module>

    <preference name="FB_APP_ID" />

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FacebookPlugin">
                <param name="android-package" value="com.fb.FacebookPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="./res/values/strings.xml" parent="/resources">
            <string name="facebook_app_id">$FB_APP_ID</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        </config-file>

        <source-file src="src/android/FacebookPlugin.java" target-dir="src/com/fb/"/>
        <framework src="com.facebook.android:facebook-android-sdk:4.14.+"/>
    </platform>

</plugin>
